    .d-h-mid-ex {
        // background-image: url("/images/image_38.jpg");
        background-image: url("/images/image_65.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
        // margin-top: 30px;
        box-sizing: border-box;
        padding: 60px 20px 60px 20px;

        .div-b-image {
            display: flex;

            .image-c {
                margin-top: 100px;
            }

            .container-t-c-o {
                // margin-top: 30px;

                .title {
                    display: block;

                    span {
                        // color: #9a563a;
                        letter-spacing: 3.52px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }

                    h2 {
                        font-size: 48px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        color: #FFFFFF;
                    }
                }

                .content {
                    display: flex;

                    .table-1 {
                        width: 405px;
                        margin: 10px;
                        background-color: #FFFFFF;
                        border-radius: 8px;
                        padding: 15px;
                        // text-align: center;


                        .table-title {
                            display: block;
                            text-align: center;
                            margin-bottom: 30px;

                            span {
                                font-size: 12px;
                                line-height: 12px;
                                font-style: italic;
                                letter-spacing: 2px;
                                color: #9a563a;
                            }

                            h2 {
                                font-size: 24px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }

                            .div-img {
                                display: flex;
                                justify-content: center;
                                text-align: center;
                                padding-top: 15px;
                                // text-align: center;
                            }
                        }

                        .table-c {
                            ul {
                                li {
                                    margin-bottom: 10px;

                                    .c-price {
                                        font-family: "Roboto", sans-serif !important;
                                        display: flex;
                                        color: #000000;
                                        font-size: 16px;
                                        font-weight: 500;
                                        align-items: center;
                                        flex-basis: 100%;
                                        justify-content: space-between;

                                        .c {
                                            max-width: 80%;
                                            color: #000000;
                                            font-size: 16px;
                                            font-weight: 600;
                                        }

                                        .p {
                                            border-bottom-style: dotted;
                                            border-bottom-width: 2px;
                                            border-bottom-color: #000000;
                                            flex-grow: 1;
                                            height: 0;
                                            margin-left: 10px;
                                            margin-right: 10px;
                                        }

                                        .price {
                                            color: #9a563a;
                                            font-size: 16px;
                                            font-weight: 500;

                                        }
                                    }

                                    p {
                                        color: #7A7A7A;
                                        font-family: "Roboto", sans-serif;
                                        font-size: 12px;
                                        font-style: italic;
                                        font-weight: 400;
                                        flex-basis: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // .shape-line {
        //     transform: rotateX(180deg)
        // }

        .shape-line svg {
            transform: rotateX(180deg);
        }

        .text-shape {
            transform: rotateX(180deg);
            letter-spacing: 0.28em;
        }

        .text-shape svg {
            overflow: initial;
            width: 90%;
            height: 100%;
            fill: none;
            // transform: rotateX(180deg);
            vertical-align: middle;
        }
    }

    @media (max-width: 1300px) {
        .d-h-mid-ex {
            .content {
                display: block !important;
            }
        }
    }

    @media (max-width: 900px) {
        .d-h-mid-ex {
            .content {
                .div-ex-dr {
                    display: block !important;
                }
            }
        }
    }

    @media (max-width: 450px) {
        // .d-h-mid-ex {
        //     .ex-span-block span {
        //         display: block !important;
        //     }
        // }
    }