.home-hightlight-title {
    padding: 30px;
    text-align: center;
    padding-top: 80px;

    p {
        // font-family: 'Montserrat', sans-serif;
        letter-spacing: 4px;
        color: #9a563a;
        text-transform: uppercase;
        font-weight: 500;
    }

    h2 {
        // font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        // text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 10px;
    }

    div {
        display: flex;
        justify-content: center;

        img {}
    }
}



